.post {
  display: flex;
  flex-direction: column;
  > img {
    flex: 90%;
    width: 100%;
  }
  &-title {
    margin: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
