@import url("../common.scss");

.post {
  display: flex;
  flex-direction: column;
  img {
    height: 24em;
    object-fit: cover;
    width: 100%;
  }
  &-title {
    margin: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      // color: ;
      color: inherit; /* blue colors for links too */
      text-decoration: none; /* no underline */
    }
  }
}
